
/* IMPORT */
h1 {         
    font-family: 'Architects Daughter', cursive;
    margin: 30px;
    text-align: center;
    font-size: 2em;
}


h2 {
    font-family: 'Architects Daughter', cursive;
    margin: 1em 2.4em;
    line-height: 2.5em;
}



h3 {
    text-align: center;
    margin: 3em;
    font-size: 2em;
    font-family: 'Architects Daughter', cursive;
}



