
/* IMPORT */
h1 {         
    font-family: 'Architects Daughter', cursive;
    margin: 30px;
    text-align: center;
    font-size: 2em;
}


h2 {
    font-family: 'Architects Daughter', cursive;
    margin: 45px;
    line-height: 40px;
}



h3 {
    text-align: center;
    margin: 5em;
    font-size: 2em;
    font-family: 'Architects Daughter', cursive;
}



