
.formulario {
    background: linear-gradient(#F6F7F8, #D6D9DC);
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.5em;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin: 40px;
    padding: 60px;
}


.form input[type="text"],
.form input[type="email"]
                             {
    background-color: #fff;
    border: 2px solid grey;
    border-radius: 5px;
    min-width: 85%;
   padding: 7px;

}

.form textarea {
    resize: none;
   /* width: 200px; /*200px */
    width: 85vw; /* 85% */
    margin-top: 15px;
    padding: 15px;
}

.form label {
    margin-bottom: 30px;
    display: inline-block;
}
