
/* IMAGENES */

img  {  
    display: block;
    margin: auto;
    border-radius: 1em;
}

.imagen2 {
    max-width: 100%;
    height: auto;
    float: right;
    padding: 2em ; 
    left: 31em;
    border-radius:4.5em ;
 }


.imagen-vivero  {
   width: 1000px;
   height: 700px;
   margin: 50px;
   display: block;
   margin: auto;
   border-radius: 15px;
} 





.flex-container-animacion:hover .imagen3 {
   transform: translateX( 100px);
}

.imagen3 {
   padding: 0.6em;
   margin: 2em 3em;
   height: 26em; /*26em*/
   width: 26em; /*26em**/
   border-radius: 50%;

   transition: all 2s linear;
}

.flex-container-animacion:hover .imagen4 {
   transform: translateX( -100px)
}

.imagen4 {
   transition: all 3s linear;
   
   padding: 0.6em;
   margin: 2em 3em;
   height: 35em; /*28*/
   width: 35em; /*34em*/
   align-self: flex-end;
   border-radius: 10em 0em;
}



.flex-container-animacion:hover .imagen5 {
   transform: translateX(100px);
}

.imagen5 {
   transition: all 2s linear;
  
   padding:0.6em;
   margin: 2em 3em;
   width: 26em; /*34em*/
   height: 26em; /*28*/
   border-radius: 3em 10em;
}







.imagen-herramienta {
   height: 250px;
   width: 250px;
   border-radius: 15em;
}

.macetas-barro {
   height:  250px;
   width: 250px;
   border-radius: 15em;
}

.macetas-plastico-blando {
   height: 250px;
   width: 250px;
   border-radius: 15em;
}

.macetas-cactus {
   width: 250px;
   height: 250px;
    border-radius: 15em;
}


.manguera {
   height: 250px;
   width: 250px;
   border-radius: 15em;
}

.accesorio-de-riego {
    width: 250px;
    height: 250px;
    border-radius: 15em;
}


.mapa {
   float:right;
   margin:5em;
}




.carousel-inner img {
   width:  400px;
   height: 600px;
}

.carrusel-container {
   margin: 80px 400px;
}



.img-fluid {
   margin: 4em auto  ;
}

