


.primer-parrafo {
    padding: 25px;
    line-height: 50px;
    padding: 50px;
}

.paragraph-1 {
    font-family:'Akaya Telivigala', cursive;
    font-size: 20px;
    line-height: 35px;
    display: inline;
}






.paragraph {
    margin: 15px 30px;
    padding: 25px;
    font-family:'Akaya Telivigala', cursive;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}






.paragraph-2-2 {
    margin: 60px;   
    font-family:'Akaya Telivigala', cursive;
    font-size: 20px;
    line-height: 35px;
}
