


.primer-parrafo {
    padding: 2em;
    line-height: 2em;
    
}

.paragraph-1 {
    font-family:'Akaya Telivigala', cursive;
    font-size: 1.1em;   
    display: inline;
}


.paragraph1-3 {
     font-family:'Akaya Telivigala', cursive;
    font-size: 1.1em;   
    /*display: inline; */
    width: 50%;
    display: flex;
    flex-direction: column;
}



.paragraph {
    margin: 1em 2em;    
    font-family:'Akaya Telivigala', cursive;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
}





.paragraph-2-2 {
    margin: 60px;   
    font-family:'Akaya Telivigala', cursive;
    font-size: 20px;
    line-height: 35px;
}
